<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Express</h1>
  <p>{{ 'Bienvenidos a Node.js con Express and Nunjucks!' }}</p>
</body>

</html>
